@font-face {
    font-family: 'MuseoSansCyrl-900';
    src: url(./font/MUSEOSANSCYRL.OTF);
}
@font-face {
    font-family: 'MuseoSansCyrl-100';
    src: url(./font/MUSEOSANSCYRL_0.OTF);
}
@font-face {
    font-family: 'MuseoSansCyrl-200';
    src: url(./font/MUSEOSANSCYRL_1.OTF);
}
@font-face {
    font-family: 'MuseoSansCyrl-300';
    src: url(./font/MUSEOSANSCYRL_2.OTF);
}
@font-face {
    font-family: 'MuseoSansCyrl-400';
    src: url(./font/MUSEOSANSCYRL_3.OTF);
}
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body{
    margin: 0;
}
ul {
    list-style-type: none;
    font-size: 0.85vw;
}
a {
    text-decoration: none;
}
.main{
    width: 100%;
    height: 100vh;
}
.header{
    padding: 1vw 0;
    position: relative;
    z-index: 99;
}
.container {
    max-width: 85vw;
    margin: 0 auto;
}
.header_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.logo{
    max-width: 13.4vw;
    min-width: 13vw;
    margin-right: 0.7vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.logo > img {
    max-width: 100%;
    max-height: 100%;
}
.description{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    font-family: MuseoSansCyrl-100;
    font-size: 1.1vw;
    min-width: 14vw;
}
.placeInfo{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    cursor: pointer;
    min-width: 22vw;
    height: 90px;
}
.placeMap{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    justify-content: center;
}
.placeMap > img{
    max-width: 100%;
    max-height: 100%;
}
.placeInfoText{
    position: relative;
    margin-top: 1vw;
}
.headerMapTitle {
    font-family: MuseoSansCyrl-400;
    font-size: 1vw;
}
.addressTitle{
    font-family: MuseoSansCyrl-200;
    font-size: 0.9vw;
}
.openMapButton{
    font-size: 0.7vw;
    font-family: MuseoSansCyrl-300;
    color: rgb(255, 96, 120);
    text-transform: uppercase;
    line-height: 0.001;
       
}
.openMapButton:before{
    content: '';
    position: absolute;
    border-width: 1px;
    border-color: rgb(255, 96, 120);
    border-style: dashed;
    position: absolute;
    width: 7vw;
    top: 55px;
    height: 0;
}
.headerPhone{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 18vw;
}
.map-header{
    position: absolute;
    width: 21vw;
    height: 17vw;
    background-color: #fff;
    -webkit-box-shadow: 3px 0 13px rgba(211, 211, 211, 0.11);
    box-shadow: 3px 0 13px rgba(211, 211, 211, 0.11);
    top: 80%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    z-index: 57;
}
.active {
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 1;
    pointer-events: auto;
  }
.phoneIcons{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.headerPhoneText{
    width: 12vw;
    height: 7vw;
    margin-left: 9px;
}
.whiteCircle{
    width: 35px;
    height: 35px;
    background: white;
    border-radius: 50%;
    padding: 10px;
    margin: 5px;
}
.greenCircle{
    border-radius: 50%;
    background-color: rgb(39, 178, 75);
    box-shadow: 0px 0px 7px 0px rgba(79, 160, 55, 0.61);
    position: absolute;
    top: 0.3vw;
    margin-left: -0.8vw;
    width: 0.4vw;
    height: 0.4vw;
}
.phoneWork{
    font-family: MuseoSansCyrl-200;
    font-size: 0.8vw;
    position: relative;
    top: 0.7vw;
    left: 0.5vw;
}
.phoneNumber{
    font-family: MuseoSansCyrl-300;
    font-size: 1.4vw;
    position: relative;
    top: 1vw;
}
.workDay{
    font-family: MuseoSansCyrl-200;
    font-size: 1vw;
    position: relative;
    top: 25px;
}
.workTime{
    font-family: MuseoSansCyrl-400;
    font-size: 1vw;
    position: relative;
}
.signUp{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    min-width: 21vw;
    margin-right: -6vw;
}
.signUpBlock{
    margin: 0;
    padding: 0.5vw;
    background: white;
    border-radius: 35px;
    border-bottom-style: inset;
    border-bottom-width: 2px;
}
.signUpBlock:hover{
    cursor: pointer;
}
.signUpBlock > img {
    position: relative;
    top: 0.1vw;
    left: 0.5vw;
    padding: 0.6vw;
    max-width: 100%;
    max-height: 100%;
}
.signUpText{
    font-family: MuseoSansCyrl-200;
    position: relative;
    top: -11px;
    font-size: 13px;
    padding: 1vw 1vw 1vw 0;
}
.nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    z-index: 16;
    padding: 0 1.5vw;
}
.nav > li {
    position: relative;
}
.nav > .container {
    background: white;
    border-radius: 5px;
    z-index: 55;
}
.nav li > a {
    font-family: MuseoSansCyrl-200;
    color: rgb(40, 40, 40);
    padding: 1.3vw 0.9vw;
    position: relative;
    display: inline-block;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    position: relative;
}
.nav_shadow{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    opacity: 0.502;
    height: 15px;
    top: -8px;
    max-width: 77vw;
    margin: 0 auto;
    z-index: 1;
}
.main_img{
    position: absolute;
    zoom: 75%;
    right: 0;
    bottom: 4vw;
    z-index: 10;
}
.main_img > img, .main_rightBcgImg > img, .main_leftBcgImg > img, .main_centerBcgImg > img {
    min-width: 100%;
    min-height: 100%;
}
.main_rightBcgImg{
    position: absolute;
    right: 0;
    bottom: 33vw;
    z-index: 10;
}
.main_centerBcgImg{
    position: absolute;
    z-index: 133;
    left: 51vw;
    top: 29vw;
}
.main_leftBcgImg{
    position: absolute;
    z-index: 10;
    left: 10vw;
    top: 15vw;
}
.main_bottomBcgImg{
    position: absolute;
    z-index: 10;
    bottom: 0;
}
#wave { 
    width: 100vw;
    margin-bottom: -0.21vw;
}
#scroll_arrow{
    position: relative;
    width: 8vw;
    margin: 0 auto;
    margin-bottom: -2.9vw;
}
.main_content{
    position: relative;
    margin-left: 17.5vw;
    z-index: 20;
    margin-top: 2vw;
}
.content_title{
    display: inline-block;
    font-family: MuseoSansCyrl-100;
    font-size: 2.5vw;
    color: rgb(40, 40, 40);
    margin-bottom: 2vw;
}
.boldTitle{
    font-family: MuseoSansCyrl-400;
    color: rgb(40, 40, 40);
}
.text_list_type{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-width: 4px;
    border-color: rgb(247, 247, 251);
    border-style: solid;
    border-radius: 50%;
    background-color: rgb(239, 148, 153);
    box-shadow: 0px 1px 13px 0px rgba(239, 148, 153, 0.38);
    position: relative;
}
.content_text > span {
    position: absolute;
    left: 20px;
    font-family: MuseoSansCyrl-300;
    color: rgb(40, 40, 40);
    font-size: 0.9vw;
}
.content_button {
    display: inline-block;
    margin-top: 3.5vw;
    width: 15vw;
    padding: 0.7vw 1vw 0.7vw 1vw;
    border-radius: 20px;
    background-image: -moz-linear-gradient( 90deg, rgb(238,133,140) 0%, rgb(244,161,164) 55%, rgb(250,188,188) 98%);
    background-image: -webkit-linear-gradient( 90deg, rgb(238,133,140) 0%, rgb(244,161,164) 55%, rgb(250,188,188) 98%);
    background-image: -ms-linear-gradient( 90deg, rgb(238,133,140) 0%, rgb(244,161,164) 55%, rgb(250,188,188) 98%);
    background-color: rgb(215, 116, 122);
    box-shadow: 0px 7px 27px 0px rgba(241, 131, 131, 0.57);
    z-index: 44;
}
.content_button > span {
    font-family: "MuseoSansCyrl-200";
    font-size: 0.75vw;
    display: inline-block;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    text-shadow: 0px 1px 5px rgba(210, 110, 116, 0.49);
}
.content_button:hover{
    cursor: pointer;
}
.flora{
    display: inline-block;
}
.clientCard {
    position: absolute;
    right: 46vw;
    top: 13vw;
    z-index: 1;
}
.clientCard > img:first-child {
    max-width: 100%;
    max-height: 100%;
}
.pulseInfo{
    top: 7vw;
    left: 6vw;
    width: 20px;
    height: 20px;
    padding: 1.5px;
    border-radius: 50%;
    background-image: -moz-linear-gradient( 90deg, rgb(238,133,140) 0%, rgb(244,161,164) 55%, rgb(250,188,188) 98%);
    background-image: -webkit-linear-gradient( 90deg, rgb(238,133,140) 0%, rgb(244,161,164) 55%, rgb(250,188,188) 98%);
    background-image: -ms-linear-gradient( 90deg, rgb(238,133,140) 0%, rgb(244,161,164) 55%, rgb(250,188,188) 98%);
    position: absolute;
    text-align: center;
    z-index: 999;
}
.pulseInfo{
    -webkit-animation: pulses 3s infinite ease-in-out;
    -o-animation: pulses 3s infinite ease-in-out;
    -ms-animation: pulses 3s infinite ease-in-out; 
    -moz-animation: pulses 3s infinite ease-in-out; 
    animation: pulses 3s infinite ease-in-out;
}
.pulseInfo:hover{
    cursor: pointer;
}
@-webkit-keyframes pulses {
    0% { -webkit-transform: scale(0.9); opacity: 0.7; }
    50% { -webkit-transform: scale(1); opacity: 1; }
    100% { -webkit-transform: scale(0.9); opacity: 0.7; }
}

@keyframes pulses {
    0% { transform: scale(0.9); opacity: 0.8; }
    50% { transform: scale(1); opacity: 1; }
    100% { transform: scale(0.9); opacity: 0.8; }
}
.infoPopUp{   
    position: absolute;
    visibility: hidden;
}
.snowInfoPopUp{
    visibility: visible;
}
.popupText{
    position: absolute;
    font-family: "MuseoSansCyrl-200";
    font-size: 0.75vw;
    z-index: 444;
    top: -1vw;
    left: 7.7vw;
    text-align: center;
    width: 6.4vw;
}
#bg_layer{
    display: none;
    position: absolute;
    z-index: 111;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
}
.signupPopUp{
    position: absolute;
    z-index: 333;
    left: 37vw;
    top: 15vw;
    visibility: hidden;
}
.closeSignPopUp{
    visibility: hidden;
}
.signupPopUpMain{
    padding: 1.5vw;
    width: 24vw;
    height: 22vw;
    margin: 0 auto;
    background-image: url(./src/signUpPopUpBcg.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.signupPopUpMain_content{
    position: relative;
    width: 20vw;
    padding-top: 1vw;
    margin: 0 auto;
}
.signupPopUpMain_title {
    font-family: "MuseoSansCyrl-200";
    font-size: 1.33vw; 
}
.signupPopUpText{
    text-align: center;
    font-family: "MuseoSansCyrl-100";
    font-size: 0.65vw; 
    margin-bottom: 2vw;
}
.signup_form{
    width: 80%;
    margin: 0 auto;
}
.signup_input {
    margin-bottom: 0.5vw;
    width: 100%;
    height: 2vw;
    border-width: 1px;
    border-color: rgb(251, 238, 239);
    border-style: solid;
    background-color: rgb(255, 255, 255);
    position: relative;
    border-radius: 15px;
    z-index:35;
}
input{
    padding: 0.1vw 0 0.1vw 1vw;
    z-index: 111;
}
input::placeholder{
    font-size: 0.6vw;
    font-family: "MuseoSansCyrl-100";
    color: rgb(152, 151, 151);
}
input:focus{
    outline: none;
}
.form_button{
    padding: 0.3vw 2vw 0.3vw 2vw;
    width: 100%;
    height: 2vw;
    background-image: -moz-linear-gradient( 90deg, rgb(238,133,140) 0%, rgb(244,161,164) 55%, rgb(250,188,188) 98%);
    background-image: -webkit-linear-gradient( 90deg, rgb(238,133,140) 0%, rgb(244,161,164) 55%, rgb(250,188,188) 98%);
    background-image: -ms-linear-gradient( 90deg, rgb(238,133,140) 0%, rgb(244,161,164) 55%, rgb(250,188,188) 98%);
    background-color: rgb(215, 116, 122);
    box-shadow: 0px 7px 27px 0px rgba(241, 131, 131, 0.57);
    position: relative;
    border-radius: 15px;
    z-index: 27;
}
.form_button > span {
    text-transform: uppercase;
    font-family: "MuseoSansCyrl-300";
    letter-spacing: 0.06vw;
    color: white;
    font-size: 0.6vw; 
}
.form_button:hover{
    cursor: pointer;
}
.closeButton:hover{
    cursor: pointer;
}
.order{
    display: none;
    background: url(./src/order_bcg.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 15vw;
    z-index: 1111;
    height: 10vw;
    left: 42vw;
    position: absolute;
    top: 21vw;
}
.cancelButton:hover{
    cursor: pointer;
}
.order_main{
    width: 65%;
    margin: 0 auto;
    text-align: center;
    margin-top: 5vw;
}
.order_span1{
    font-family: "MuseoSansCyrl-300";
    letter-spacing: 0.06vw;
    font-size: 0.9vw; 
    margin-top: 1vw;
}
.order_span2{
    font-family: "MuseoSansCyrl-100";
    letter-spacing: 0.06vw;
    font-size: 0.7vw; 
}
.burger__wrap{
    display: none;
}
.nav__wrap{
    display: none;
}
@media (max-width: 992px) {
    .header_conatiner {
        width: 90%;
    }
    .container {
        max-width: 100% !important;
        width: 90%;
    }
    .placeInfo {
        display: none;
    }
    .signUp {
        display: none;
    }
    .burger__wrap {
        font-family: "MuseoSansCyrl-100";
        text-transform: uppercase;
        font-size: 1.4rem;
        color: blac;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-weight: 600;
        cursor: pointer;
    }
    .burger {
        
        width: 2rem;
        height: 2rem;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        cursor: pointer;
        margin-left: 1rem;
    }
    .burger span {
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 4px;
        position: relative;
        background-color: rgb(40, 40, 40);
    }
    .burger span:after {
        content: '';
        bottom: -0.5rem;
        position: absolute;
        display: block;
        width: 100%;
        height: 4px;
        left: 0;
        background-color: rgb(40, 40, 40);
        border-radius: 4px;
    }
    .burger span:before {
        content: '';
        top: -0.5rem;
        position: absolute;
        display: block;
        width: 100%;
        height: 4px;
        left: 0;
        background-color: rgb(40, 40, 40);
        border-radius: 4px;
    }
    .clientCard {
        display: none;
    }
    .description{
        display: none;
    }
    .phoneIcons {
        display: none;
    }
    .headerPhone {
        width: 10rem;
    }
    .headerPhoneText{
        width: 10rem;
        height: 3rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        flex-flow: column;
    }
    .workDay {
        top: 5px;
        font-size: 0.6rem;
    }
    .workTime {
        font-size: 0.6rem;
    }
    .phoneWork {
        font-size: 0.5rem;
    }
    .phoneNumber {
        font-size: 0.9rem;
    }
    .nav {
        display: none;
    }
    .nav_shadow {
        display: none;
    }
    .main_content {
        margin-top: 5rem;
        z-index: 20;
    }
    .content_title {
        font-size: 1.3rem;
        margin-bottom: 2rem;
    }
    .main_bottomBcgImg{
        display: none;
    }
    .content_text > span {
        font-size: 1rem;
        position: relative;
        margin-left: -1rem;
    }
    .content_button{
        width: 15rem;
        padding: 0.1rem 2.3rem 0.2rem 1rem;
    }
    .content_button > span {
        font-size: 1rem;
    }
    #plant{
        position: absolute !important;
        z-index: -12 !important;
        left: 13rem !important;
        bottom: 2px !important;
        width: 6rem !important;
    }
    #branch{
        position: absolute !important;
        z-index: 121 !important;
        width: 6rem !important;
        left: 12rem !important;
        bottom: 0.1rem !important;
    }
    .nav__wrap {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        -webkit-box-shadow: 1px -1px 57px rgba(0, 0, 0, 0.1);
        box-shadow: 1px -1px 57px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.99);
        z-index: 644;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-transform: translateX(-110%);
        -ms-transform: translateX(-110%);
        transform: translateX(-110%);
        -webkit-transition: all 0.4s ease-in;
        -o-transition: all 0.4s ease-in;
        transition: all 0.4s ease-in;
    }
    .nav__wrap.active {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
    .nav__wrap_list > .navItem {
        font-size: 1.2rem;
        text-align: center;
        color: white;
        text-decoration: none;
        margin-bottom: 0.5rem;
    }
    .nav__wrap_list{
        text-align: center;
    }
    .navItem > a {
        color: black;
    }
    .inf {
        text-align: center;
        width: 11rem;
        font-size: 1rem;
         margin: 0 auto;
    }
    .close-nav{
        filter: brightness(0.1);
        right: 2rem;
        position: absolute;
        top: 1rem;
    }
    .main_img {
        zoom: 100%;
        z-index: 1;
        bottom: 0;
    }
}